.table{
    border: 1px solid black;
    border-radius: 7px !important;
}

/*.table_column{*/
/*    border: 0;*/
/*}*/

.table_column {
    margin-top: 10px;
    background-color: #406BD3;
    height: 3.5vw;
    border-radius: 7px;
    color: white;
}
.table_column_second {
    color: black;
    margin-top: 10px;
    height: 3.5vw;
    border-radius: 7px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #98b5ff;
    text-align: center;
}

.table_column_header_first{
    background-color: #1E3685;
    height: 100%;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 7px;
}

.table_column_header{
    background-color: #1E3685;
    height: 100%;
    border: 1px solid white;
}

.table_column_header_second{
    color: black;
    height: 100%;
    border-radius: 7px;
    margin-left: 7px;
    margin-right: 7px;
    background-color: #98b5ff;
    text-align: center;
}

.table {
    font-size: calc(18px + 6 * (100vw / 1903));
    text-align: center;
    width: 95vw;
    margin: auto;
    margin-top: 2.5vw;
}

.table_column_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.table_btn_box {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

.table_item_btn {
    cursor: pointer;
    width: 80%;
    height: 2vw;
    background-color: #5199FF;
    border: 0;
    border-radius: 7px;
    color: white;
    text-align: center;
    transition: all 300ms;
    margin: 10px 0px 10px 0px;
}

.table_item_btn:hover {
    background-color: white;
    color: #5199FF;
    border: 1px solid #5199FF;
    transition: all 300ms;
}

.table_upload_file {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
}


.table_upload_btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.table_wrapper{
    margin: 0;
    border: 2px solid #1E3685;
    border-radius: 7px;
    padding: 20px;
    overflow: hidden;
}


.table_row_header{
    height: 50px;
    flex-wrap: nowrap;
    border-radius: 7px;
    color: white;
    margin-bottom: 10px;
}

.main_table_row_header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: white;
}


.table_column_headers{
    background-color: #284A9D;
    height: 100%;
    border: 1px solid white;
}


.table_column_header_dictionary{
    color: black;
    height: 100%;
    border: 1px solid white;
    background-color: #98b5ff;
    text-align: center;
    font-weight: 500;
    font-size: calc(14px + 2 * (100vw / 1903));
}


.table_column_dictionary{
    background-color: #98b5ff !important;
    color: black !important;
    text-align: center;
}

.table_column_item{
    background-color: #406BD3;
    height: 100%;
    border: 1px solid white;
    text-align: center;
    color: white;
}

.table_container{
    overflow: auto;
}

.table_column_values{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #406BD3;
    height: 100%;
    border: 1px solid white;
}

.table_column_input{

    width: 70px;
    background-color: rgb(255,255,255,0.0);
    border: 0;
    color: white;
    text-align: center;
}

.table_column_input:focus{
    outline: none;
}

.palka{
    height: 1px;
    width: 100%;
    background-color: #1E3685;
}