.inform_panel {
    margin: 2vw auto auto;
    height: 8vw;
    background-color: #406BD3;  
    border-radius: 7px; 
}

.inform_panel_box {
    font-size: calc(14px + 4 * (100vw/1903));
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location_section_box {
    margin-left: 3vw;
    width: 35%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.date_section_box {
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btns_section {
    margin-right: 3vw;
    width: 10%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inform_panel_btn {
    cursor: pointer;
    font-size: calc(10px + 4 * (100vw/1903));
    width: 100%;
    height: 30%;
    border-radius: 7px;
    border: 0;
    background-color: #5199FF;
    color: white;
    transition: all 300ms ease-in-out;
}

.inform_panel_btn:hover {
    background-color: #fff;
    color: #5199FF;
    transition: all 300ms;
}

.location_section, .point_section, .date_section, .date_info_section {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.location_title, .point_title, .location_text {
    padding: 20px;
    width: 49%;
    height: 100%;
    border-radius: 7px;
    background-color: #FFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(14px + 1 * (100vw/1903));
    text-align: center;
}

@media (max-width:1600px){
    .point_title, .location_title{
    font-size: calc(10px + 4 * (100vw/1903));
    }
}

.location_text{
    border: 0;
    font-size: calc(12px + 2 * (100vw/1903));
}

.location_text:focus{
    outline: none;
}

.date_date:focus{
    outline: none;
}

.point_text:focus{
    outline: none;
}

.point_text{
    padding: 20px;
    width: 49%;
    height: 100%;
    border-radius: 7px;
    background-color: #FFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    font-size: calc(12px + 2 * (100vw/1903));
}


.date_title {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    background-color: #FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(14px + 2 * (100vw/1903));
}

.date_text {
    width: 15%;
    height: 100%;
    border-radius: 7px;
    background-color:#FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(14px + 1 * (100vw/1903));
}

.date_date {
    padding: 13px;
    width: 30%;
    height: 100%;
    border-radius: 7px;
    background-color:#FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    font-size: calc(10px + 2 * (100vw/1903));
}

.ok_inform_btn {
    background-color: rgb(0, 164, 44);
    transition: all 300ms ease-in-out;
}